<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p>Update Trigger Word</p>
            <input type="text" ng-model="trigger" >
        </div>
        <div class="col-md-6">
            <p>Update Response Object</p>
            <textarea id="editJSON" type="text" ng-model="responsew" placeholder=""></textarea>
        </div>
        <div class="col-md-2">
            <p>Action</p>
            <input type="text" ng-model="operation">
            <p>Enter the operation: (e.g Timeout)</p>
        </div>
        <div class="col-md-1">
            <p>Action</p>
            <input type="text" ng-model="value">
            <p>Enter the value: (in minutes)</p>
        </div>
        <div class="col-md-12"><button ng-click="update()">Update</button></div>
    </div>
</div>
<div ng-controller="logger">
        <pre>
            <p ng-repeat="e in events track by $index">{{$index}} -{{e}}</p>
        </pre>
</div>